.nav{
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
.title{
  color: #499de1;
}
.container{
  padding: 30px;
  background-color: #282d35;
  color: white;
}
.container h1{
  margin: 0;
}

.container ul li{
  line-height: 1.8em;
}
.container ul li::marker{
  color: #499de1;
  font-size: 21px;
}
